@import url('./reset.css');

body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-image: url("../images/matrix.jpg");
}

main{
    width: 85vw;
    height: 90vh;

    display: flex;
}

textarea{
    resize: none;
    border: none;
}

button{
    width: 13rem;
    height: 2.3rem;

    border: none;
    border-radius: 10px;
    background-color: green;
}

footer{
    width: 100vw;
    height: 7vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;

    background-color: #18a01375;
    color: #000000;
}

.logo{
    width: 6rem;
    padding-top: 1.5vw;
}
.logo img{
    width: 100%;
    height: 100%;
}

.interface-decodificador-inserir{
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5vh;

    color: #00ff22;
}
.interface-decodificador-inserir p{
    padding-top: 1.5rem;
}
.interface-decodificador-inserir span{
    color: #e60e0e;
}

#entrada-texto{
    height: 65vh;

    background-color: #000;
    color: #00ff22;

    font-size: 32px;
}
::placeholder{
    color: #00ff22;
}

.interface-decodificador-inserir-botoes{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.interface-decodificador-imprimir{
    width: 35vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5vh;
    padding-left: 3vw;
    gap: 3.3rem;
}
.interface-decodificador-imprimir button{
    align-self: center;
}

.interface-decodificador-imprimir-area-de-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#saida-texto{
    width: 100%;
    height: 65vh;

    background-color: #000;
    color: #1cc8db;

    font-size: 24px;
}

.interface-decodificador-imprimir-sem-mensagens{
    position: absolute;
    margin-top: 10vh;
    width: 35vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: #1cc8db;
}
.interface-decodificador-imprimir-sem-mensagens img{
    width: 50%;
}
.interface-decodificador-imprimir-sem-mensagens p:nth-child(2){
    width: 80%;
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: 800;
}
.interface-decodificador-imprimir-sem-mensagens p:last-child{
    margin-top: 0.75rem;
    width: 80%;
}

@media (max-width: 800px){

    body{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        height: auto;
    }
    .interface-decodificador-inserir{
        width: 100vw;
    }
    .interface-decodificador-imprimir{
        width: 94vw;
    }
    #saida-texto{
        height: 30vh;
    }
    .interface-decodificador-imprimir-sem-mensagens{
        margin-top: 4vh;
    }
}

@media (max-width: 400px){
    .interface-decodificador-imprimir-sem-mensagens{
        margin-top: 2vh;
    }
}